:root {
  --color-black: #1e1e1e;
  --color-darkgrey: #3d3d3d;
  --color-lightgrey: #d3d3d3;
  --color-white: #e1e1e1;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-black);
  color: var(--color-white);
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  touch-action: manipulation;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/* loading styling */
.loading {
  display: none;
  padding: 50px;
  text-align: center;
  z-index: 5;
  position: absolute;
  top: 50%;
  left: calc(50% - 45px);
}
/* loading loading state */
.loading.load {
  display: block;
}
/* loading loading animation */
.loading.load:before {
  content: "";
  height: 90px;
  width: 90px;
  margin: -15px auto auto -15px;
  position: absolute;
  top: calc(50% - 45px);
  left: calc(50% - 45px);
  border-width: 8px;
  border-style: solid;
  border-color: #5f5f5f #000000 #000000;
  border-radius: 100%;
  animation: rotation 0.7s infinite linear;
}
nav {
  background-color: var(--color-darkgrey);
  border-radius: 0 0 0.5rem 0.5rem;
  display: flex;
  position: sticky;
  top: 0;
  box-shadow: 0.5rem 0.5rem 0.5rem black;
  justify-content: space-between;
  padding: 0.5rem;
  z-index: 15;
}
nav h1 {
  margin: 0;
  padding: 0.5rem;
}
nav hr {
  margin: -0.5rem 0.5rem;
  padding: 0.5rem 0;
  border-color: var(--color-black);
  border-style: solid;
}
nav input {
  display: none;
}
nav label.btnLabel {
  width: 25px;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid var(--color-lightgrey);
  border-radius: 0.5rem;
  padding: 0.5rem;
}
nav label.btnLabel span {
  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--color-lightgrey);
  border-radius: 2px;
  transition: 0.3s ease;
}
nav ul {
  list-style: none;
  display: inline-flex;
  margin: 0;
  padding: 0;
}
nav ul li {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
  padding-top: 0.75rem;
}
nav ul li:hover {
  background-color: rgba(3, 3, 3, 0.35);
  padding-bottom: 0;
}
@media (max-width: 699px) {
  nav label.btnLabel {
    display: flex;
  }
  nav input:checked ~ ul {
    max-height: 100vh;
    transition: max-height 2s ease;
  }
  nav ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease;
    flex-direction: column;
    position: absolute;
    background-color: var(--color-black);
    top: 100%;
    left: 0;
    box-shadow: 0.5rem 0.5rem 0.5rem black;
    width: 100%;
    z-index: 15;
  }
  nav ul li {
    border: 1px solid var(--color-black);
    background-color: var(--color-darkgrey);
    font-size: 18px;
    display: flex;
    justify-content: space-between;
  }
  nav ul li:hover {
    background-color: var(--color-black);
    padding-bottom: 0.5rem;
  }
  nav ul li::after {
    content: attr(title);
    display: inline-block;
    text-align: right;
    font-style: italic;
    color: grey;
  }
}
.cards {
  display: flex;
  flex-flow: row wrap;
  margin: 1rem;
  align-items: start;
  justify-content: space-evenly;
}
.cards .card {
  background-color: var(--color-darkgrey);
  border-radius: 0.5rem;
  margin: 0.25rem;
  width: 15rem;
  box-shadow: 0.5rem 0.5rem 0.5rem black;
  font-size: larger;
  text-align: center;
  display: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease, margin-top 0.3s ease;
}
.cards .card.visible {
  display: block;
}
.cards .card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.6);
  z-index: 1;
  margin-top: 1rem;
}
.cards .card .body {
  border-top: 1px solid var(--color-black);
  border-radius: 0 0 0.5rem 0.5rem;
  margin-top: 0.5rem;
  line-height: 1.15rem;
  font-size: medium;
  text-align: center;
}
.cards .card .body > * {
  padding: 0.5rem;
}
.cards .card .body div:not(.imgContainer) {
  text-align: left;
}
.cards .card .body div[role="internship"] {
  border-radius: 0 0 0.5rem 0.5rem;
}
.cards .card .body div[role="periode"]::after {
  content: attr(data-diff);
  display: block;
  text-align: right;
  font-style: italic;
  color: grey;
}
.cards .card .body hr {
  border: unset;
  border-top: 1px solid var(--color-black);
  margin: 0;
  padding: 0;
}
.cards .card .body .imgContainer {
  display: flex;
  justify-content: center;
  /* centers horizontally */
  align-items: center;
  /* centers vertically */
  height: 400px;
  width: auto;
  border: 1px solid var(--color-lightgrey);
  /* optional, just to see the container */
  overflow: hidden;
  margin: 0.5rem 0;
}
.cards .card .body .imgContainer img {
  height: auto;
  width: 240px;
}
.cards .card .body .imgLogo {
  display: flex;
  justify-content: center;
  /* centers horizontally */
  align-items: center;
  /* centers vertically */
  height: auto;
  padding: unset;
  overflow: hidden;
  background-color: #ffffff;
}
.cards .card .body .imgLogo img {
  height: auto;
  width: 100%;
}
.cards .card .body .imgLogo span {
  height: auto;
  width: 100%;
  font-size: 24px;
  margin: 1rem;
}
.cards .card .body div[role="titre"] {
  border-top: 1px solid #000000;
}
.cards .card .body ul {
  list-style: none;
  padding-inline: 0;
  margin: 0;
  padding: 0.5rem;
}
.cards .card .body ul:last-child {
  border-radius: 0 0 0.5rem 0.5rem;
}
.cards .card .body ul li {
  text-align: left;
}
.cards .card .body ul li:not(:first-child) {
  margin: 0.5rem 0 0 0;
}
.cards .card .body a {
  text-decoration: unset;
  color: var(--color-lightgrey);
  font-weight: bold;
}
.cards .card .body a:hover {
  filter: brightness(0.75);
}
.cards .card .body a::before {
  content: "link";
  font-family: "Material Symbols Outlined";
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
}
.cards .card.afpa {
  background-color: #87bb34;
  color: #ffffff;
}
.cards .card.afpa a {
  color: #ffffff;
}
.cards .card.afpa a:hover {
  filter: brightness(0.8);
}
.cards .card.afpa hr {
  border-color: #44a33d;
}
.cards .card.afpa .body {
  background-color: #ffffff;
  color: #000000;
}
.cards .card.afpa .body .imgLogo {
  border-color: #ffffff;
}
.cards .card.afpa div[role="level"],
.cards .card.afpa div[role='access'] {
  background-color: #87bb34;
}
.cards .card.afpa div[role="label"],
.cards .card.afpa div[role="titre"],
.cards .card.afpa div[role="repository"],
.cards .card.afpa ul[role="repository"] {
  background-color: #44a33d;
  color: #ffffff;
}
.cards .card.afpa ul[role="missions"],
.cards .card.afpa div[role="internship"],
.cards .card.afpa ul[role="technologies"] {
  background-color: #44a33d;
  color: #ffffff;
}
.cards .card.ul {
  background-color: #ffef65;
  color: #000000;
}
.cards .card.ul a {
  color: #000000;
}
.cards .card.ul a:hover {
  filter: brightness(0.5);
}
.cards .card.ul hr {
  border-color: #ffffff;
}
.cards .card.ul .body {
  background-color: #ffffff;
  color: #000000;
}
.cards .card.ul .body .imgLogo {
  border-color: #ffffff;
}
.cards .card.ul div[role="label"],
.cards .card.ul div[role="titre"],
.cards .card.ul div[role="repository"],
.cards .card.ul ul[role="repository"] {
  background-color: #000000;
  color: #ffffff;
}
.cards .card.ul ul[role="missions"],
.cards .card.ul div[role="internship"],
.cards .card.ul div[role="level"],
.cards .card.ul ul[role="technologies"] {
  background-color: #ffef65;
}
.cards .card.asxiv {
  background-color: #000025;
  color: #5fb3ce;
}
.cards .card.asxiv a {
  color: #5fb3ce;
}
.cards .card.asxiv a:hover {
  filter: brightness(0.5);
}
.cards .card.asxiv hr {
  border-color: #0000ff;
}
.cards .card.asxiv .body {
  background-color: #ffffff;
  color: #000000;
  border-color: #ffffff;
}
.cards .card.asxiv .body .imgLogo {
  border-color: #ffffff;
}
.cards .card.asxiv div[role='access'] {
  background-color: #000025;
}
.cards .card.asxiv div[role="label"],
.cards .card.asxiv div[role="titre"],
.cards .card.asxiv div[role="repository"],
.cards .card.asxiv ul[role="repository"] {
  background-color: #000099;
}
.cards .card.asxiv ul[role="missions"],
.cards .card.asxiv div[role="internship"],
.cards .card.asxiv ul[role="technologies"] {
  background-color: #0000ff;
  color: #5fb3ce;
}
